<div class="col-xs-12">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Course Title</th>
            <th>Description</th>
            <th>Duration</th>
            <th>Professor</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="course in courses | orderBy:sortField:sortDescending">
            <td>
                <in-place-edit field-name='title' input-type='text' input-class='input-large' model=course>{{course.title}}</in-place-edit>
            </td>
            <td>
                <in-place-edit field-name='description' input-type='text' input-class='input-small' model=course>{{course.description}}</in-place-edit>
            </td>
            <td>
                <in-place-edit field-name='duration' input-type='text' input-class='input-small' model=course>{{course.duration}}</in-place-edit>
            </td>
            <td>
                <in-place-edit field-name='professor' input-type='text' input-class='input-medium' model=course>{{course.professor}}</in-place-edit>
            </td>
            <td>
                <in-place-edit field-name='startDate' input-type='text' input-class='input-small' model=course>{{course.startDate}}</in-place-edit>
            </td>
            <td>
                <in-place-edit field-name='endDate' input-type='text' input-class='input-medium' model=course>{{course.endDate}}</in-place-edit>
            </td>
            <td class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <li role="presentation"><a ng-click="updateCourse(course)">edit</a></li>
                    <li role="presentation"><a ng-click="deleteCourse(course)">delete</a></li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</div>
